<main>
    <section id="h1Section">
        <h1>Contact me</h1>
        <hr>
    </section>
    <section id="contactSection">
        <p>
            You can call me on <span id="numberSpan">this</span> number.
        </p>
        <p>
            Send me an email. The address is below.
        </p>
        <p>
            Or find me on <span id="linkedinSpan">this</span> social network.
        </p>
    </section>
    <section id="inputSection">
        <form>
            <input type="text" id="numberInput" value="0897 263 283" readonly="readonly"/>
            <input type="email" value="mitko4771@gmail.com" readonly="readonly"/>
        </form>
        <div id="linkedinDiv">
            <a href="https://www.linkedin.com/in/dimitar-dimitrov-a0b573142/" target="_blank" title="linkedin logo">
                <span class="fa fa-linkedin" ></span>
            </a>
        </div>
    </section>
</main>