<main>
  <section id="paralax">
    <h2>&frasl;&frasl;&nbsp;&nbsp;there is only one way&nbsp;&nbsp;&#92;&#92;</h2>
    <h1>work hard &amp; love this s<span>#</span>it</h1>
    <div [class.circle]="circle">
      <span class="fa fa-angle-down" aria-hidden="true"></span>
    </div>
  </section>
  <section id="content">
    <section id="firstSection">
      <img src="../../assets/images/aboutThisSite.jpg">
      <div id="first-holder">
        <div id="line"></div>
        <div id="articleHolder">
          <article>
            The entire portfolio is written on an angular.
            Every link design is different. 
            That is because do not have projects I have worked on,
            and each link is my point of view if I have worked on certain 
            tasks&nbsp;.
          </article>
        </div>
      </div>
    </section>
  </section>  
  <section id="second-paralax"></section>
  <section id="skills-content">
    <img src="../../assets/images/skillsImg.jpg" alt="image">
    <div [class.skills]="skills">
      <div [class.skillsHolder]="skills">
        <div [class.imageHolder]="skills">
          <i class="fa fa-html5" aria-hidden="true"></i>
          <i class="fa fa-css3" aria-hidden="true"></i>
        </div>
        <div [class.textHolder]="skills">
          <h3>html/css</h3>
          <p>HTML and CSS are building blocks in web design. I have good knowledge in these two technologies. Thanks to html5 and css3 give us a perfect environment for developing unique websites.</p>
        </div>
      </div>
      <div [class.skillsHolder]="skills">
        <div [class.imageHolder]="skills">
          <i class="fa fa-code" aria-hidden="true"></i>
        </div>
        <div [class.textHolder]="skills">
          <h3>less</h3>
          <p>A pre-processor such as LESS gives us the ability to write more readable code and learning it is an important step in the development of each developer. I have a good knowledge of LESS</p>
        </div>
      </div>
      <div [class.skillsHolder]="skills">
        <div [class.imageHolder]="skills">
          <i class="fa fa-desktop" aria-hidden="true"></i>
        </div>
        <div [class.textHolder]="skills">
          <h3>javascript</h3>
          <p>If you are wondering what kind of foreign language to learning, learn javascript. This is the magic that makes every site a reality. Made to be a shack but became a skyscraper. I have advanced skills of javascript.</p>
        </div>
      </div>
    </div>
    <div [class.skills]="skills">
      <div [class.skillsHolder]="skills">
        <div [class.imageHolder]="skills">
          <i class="fa fa-laptop" aria-hidden="true"></i>
        </div>
        <div [class.textHolder]="skills">
          <h3>jquery</h3>
          <p>Jquery is the library that will be used until Skynet conquer the world with its army of terminators. Every front-end developer must be some knowledge to jquery. I have an advance skills on this library.</p>
        </div>
      </div>
      <div [class.skillsHolder]="skills">
        <div [class.imageHolder]="skills">
          <i class="fa fa-code" aria-hidden="true"></i>
        </div>
        <div [class.textHolder]="skills">
          <h3>angular</h3>
          <p>I started studying Angular three months ago. It turn my world upside down. But when you get used to constantly breaking everything is not so scary. I have basic knowledge on this framework.</p>
        </div>
      </div>
      <div [class.skillsHolder]="skills">
        <div [class.imageHolder]="skills">
          <i class="fa fa-paint-brush" aria-hidden="true"></i>
        </div>
        <div [class.textHolder]="skills">
          <h3>photoshop</h3>
          <p>Photoshop is a big brother of Paint. To be honest I have a few hours spent on a photoshop. All pictures are processed on this program. As you can see, they are not perfect, but my knowledge is not that much.</p>
        </div>
      </div>
    </div>
    <div id="github-section">
      <p id="githubParagraph">see the code in guthub</p>
      <a href="https://github.com/mitko4771/portfolio" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </div>
    <section id="thanks-image">
      <img src="../../assets/images/thanksImg.jpg">
    </section>
  </section>
</main>
