@import url('https://fonts.googleapis.com/css?family=Merriweather');
main {
  background: url('../../assets/images/yellow.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
main #container {
  width: 90%;
  margin: 7% 5% 2% 5%;
  height: 570px;
  opacity: .5;
  background-color: #494444;
  box-shadow: 8px 8px 11px #000;
  border-radius: 4px;
}
main article {
  position: absolute;
  top: 0%;
  width: 90%;
  margin: 7% 5% 2% 5%;
  height: 570px;
  color: #fff;
  font-size: 1.5em;
  padding: 1%;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  text-shadow: 1px 1px 2px #000;
  text-align: justify;
  align-items: stretch;
  display: flex;
  flex-flow: row nowrap;
}
