<main>
  <section id="container"></section>
  <article>
        В това така наречено мотивационно писмо няма да прочетете 'вашата фирма', 'компанията ви' и други 'запазени' думи от мотивационните писма, който
        обикалят в интернет пространството. Изцяло авторско е, гарантирам. Не е и написано на английски което не съответства на цялата страница.
        Спестявам ви време и усилия от това да се тормозите над текст от n на брой думи, а и да си призная и аз си спестявам време и усилия. 
        Ако държите на английският вариант в контактната ми форма е описано как може да ме намерите, пишете, ще ви го пратя. Да караме по същество. Защо да ме извикате на интервю?
        Но, първо да ви задам въпрос на който всеки да си отговори сам за себе си. Работили ли сте нещо което наистина да мразите? Е, аз да! И не искам повече да го работя. Затова пробвах с програмиране, 
        защото нали сега е модерно, пари, търси се и тн.. тн.. Но взе, че ми хареса. Хареса ми, защото създаваш неще с главата си, а не си на конвейрната линия 
        и машинално да правиш едно и също всеки ден. Все пак не съм китаец. Учех, работих и така докато дойде денят в който не успявах да ги съвместявам. Един ден просто ми казаха (жена ми) да напусна.
        Беше най-щастливия ми ден. Последната една година и половина не преставам да уча. Ходил съм на курсове по английски, javascrip, бях приет в една водеща ит академия в София,
        гледам уроци на индийчета в youtube (разбереш ли им английският всичко е наред) и с всяка свободна минута се опитвам да стана по-добър в това което правя.
        Знам, че има по-добри от мен, с по-добро CV, с по-добро образование, но аз съм един много упорит човек и знам, че рано или късно ще се случат нещата както аз искам. 
        Ще завърша с една мисъл на един мой много добър приятел "кода е измислен от човек, щом някой го е измислил, значи не може да не се научи".
  </article>
</main>
